body {
	background: url("../images/grass.png"), url("../images/stars.png");
	background-size: 60px, 387px;
	background-position:  bottom;
	background-repeat: repeat-x, repeat;  

	color: #fbfbd0;
}

body {
	background: url("../images/cloud loop.png"), url("../images/grass.png"), url("../images/stars.png");
	background-size: 258px, 60px, 387px;
	background-position: top, bottom;
	background-repeat: repeat-x, repeat-x, repeat;  
	
	
	background: url("../images/cloud loop.png"), url("../images/grass_big.png"), url("../images/stars.png");
	background-size: 258px, 180px, 387px;
	background-position: top, bottom;
	background-repeat: repeat-x, repeat-x, repeat;  

	color: #fbfbd0;
}

.cloudtext {
	background: none;
}

html, body {
	min-height: 100%;
}



h1, h3{				
	font-family: 'Playfair Display', serif;
}
h1, h3{
	font-size: 50pt;
}

h2 {
	font-size: 35px;
}

img, .pixel { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; 				/* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.wrapper {
	font-family: 'Alice', serif;
}

#vm-wrapper {
	text-align: center;
	padding-top: 80px;
	width: 66%;
}

.textbox {
	background: url("../images/border bg.png");
	background-size: 6px;
	padding: 10px;
	/* border: 2px solid #33837b; */
	display: inline-block;
	border: 24px solid transparent;
	border-image: url("../images/border.png");
	border-image-slice: 8;
	border-image-repeat: round;
}

#content-wrapper {
	margin: 50px;
	margin-bottom: 180px;
	position: relative;
	display: block;
}

#vm-wrapper h3{
	padding-top: 0; 
	font-size: 13pt;
	clear: both;
}

#vm-wrapper ul {
	padding-top:90px;
}

#vm-wrapper li {
	font-size: 20pt;
	padding: 6px;
}

#vm-wrapper a{
	text-decoration: none;
	color: #FFFFFF;
}
#vm-wrapper ul li a:hover {
	color: #33837b;
}

#title-div h1 {	
	text-align: center;
	padding-top: 35pt;
}

#title-div {
	margin-top: 50px;
	height: 200px;
}

#grass-div {
    bottom: 0;
	background-position: bottom;
    width: 100%;
}

#trees {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 650px;
}
/*
body {
  background: url("../images/sky.png"), url("../images/mountains.png"), #f0ae66;
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x; }
*/

.project-entry {
    border-bottom: 3px solid #364b58;
    display: flex;
    align-items: center;
    justify-content: left;
}

.project-entry div {
    padding: 24px;
    height: 100%;
}

.project-entry .image-wrapper img{
    height: 72px;
    width: 72px;
}

.project-entry h2 {
    font-size: 25pt;
    display: inline-block;
    padding-bottom: 12px;
    text-decoration: underline;
}

a {
    color: #fbfbd0;
}

a:visited {
    color: #3a816f;
}

a:hover {
    color: #f7d878;
}

a:focus {
    color: #aad396;
}

.back {
    padding: 24px 0 0 0;
}

.text-wrapper .sample {
    padding-left: 0;
    padding-top: .3em;
}

.pixel-imgs{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.img-wrapper {

	display: flex;
	margin: auto;
	justify-content: center;
	
}



.img-wrapper .original {
	border: 24px solid transparent;
	border-image: url("../images/border.png");
	border-image-slice: 8;
	border-image-repeat: round;
	margin-top: 30px;
}