@font-face {
  font-family: Tenderness;
  src: url("../fonts/Tenderness.otf"); }
@font-face {
  font-family: UpperEastSide;
  src: url("../fonts/UpperEastSide.ttf"); }
body, html {
  height: 100%; }

body {
  background: #0a4558; }

h1, h2, h3, h4, h5, h6, a {
  font-family: UpperEastSide;
  -webkit-text-stroke: .6px;
  letter-spacing: .05em; }

p {
  font-family: Tenderness; }

h1 {
  -webkit-text-stroke: px; }

p {
  text-indent: 1.5em; }

a {
  text-decoration: none; }

#header-main {
  background: #000000;
  border-top: 5px solid #05212a;
  border-bottom: 5px solid #05212a;
  margin-bottom: 5px;
  padding: 20px 0 20px 40px; }
  #header-main h1 {
    font-size: 5em;
    background-color: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF 50%, #26d79f 50%);
    background-image: linear-gradient(to bottom,#FFFFFF 50%, #26d79f 50%);
    letter-spacing: .02em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px;
    display: inline; }
  #header-main h2 {
    color: #0a4558;
    display: inline;
    font-size: 2.5em;
    padding-left: 20px; }
  #header-main h6 {
    display: none; }

#header-minor {
  padding: 0 40px;
  font-size: 1.5em; }
  #header-minor .center {
    display: flex;
    float: left;
    height: 1.5em; }
    #header-minor .center h6 {
      margin: auto 0;
      float: left;
      color: #26d79f; }
  #header-minor #navbar {
    float: right;
    padding-right: 5px; }
    #header-minor #navbar li {
      display: flex;
      float: left;
      padding: 0 1em;
      height: 1.5em; }
      #header-minor #navbar li a {
        margin: auto;
        color: #26d79f; }
    #header-minor #navbar li:hover {
      background: #132445;
      border-radius: 20px 20px 0 0; }
    #header-minor #navbar .selected, #header-minor #navbar .selected:hover {
      background: #99dabb;
      margin-right: 5px;
      border-radius: 20px 20px 0 0;
      position: relative;
      background: #26d79f; }
      #header-minor #navbar .selected a, #header-minor #navbar .selected:hover a {
        color: #116237; }
    #header-minor #navbar .selected:before {
      border-radius: 20px 20px 0 0;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 5px 5px #05212a; }

#content-wrapper {
  margin: -20px 20px 20px 20px;
  display: table;
  padding: 0 20px; }
  #content-wrapper #content {
    padding: 20px;
    display: table;
    background: #99dabb;
    box-shadow: 5px 5px #05212a; }
  #content-wrapper h3 {
    font-size: 4em;
    background-color: #000000;
    background-image: -webkit-linear-gradient(top, #132445 50%, #000000 50%);
    background-image: linear-gradient(to bottom,#132445 50%, #000000 50%);
    letter-spacing: .02em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px;
    display: inline; }
  #content-wrapper p {
    font-size: 1.25em; }
  #content-wrapper .column {
    width: 50%;
    float: left; }
    #content-wrapper .column * {
      padding: 0 20px; }

@-moz-document url-prefix() {
  html {
    overflow: hidden; }

  #header-main h1 {
    background: none;
    color: #FFFFFF; }

  #content-wrapper {
    bottom: 0;
    height: auto; }
    #content-wrapper #content {
      border-bottom: 5px solid #05212a; }
    #content-wrapper h3 {
      background: none;
      color: #132445;
      overflow: hidden; }
    #content-wrapper #content:after {
      content: "";
      background: none;
      height: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: none; } }
@media (max-width: 900px) {
  #header-main h1 {
    font-size: 3.33333em; }
  #header-main h2 {
    font-size: 1.66667em; } }
@media (max-width: 700px) {
  #header-main {
    text-align: center;
    padding: 10px; }
    #header-main h1 {
      font-size: 3.33333em; }
    #header-main h2 {
      display: block;
      font-size: 1.66667em; }
    #header-main h6 {
      display: block;
      font-size: 0.83333em;
      color: #26d79f; }

  #header-minor .center {
    display: none; }
  #header-minor #navbar {
    float: left;
    font-size: 20px; }

  #content-wrapper #content {
    padding: 10px; }
  #content-wrapper h3 {
    font-size: 2.66667em; }
  #content-wrapper p {
    font-size: 1.11111em; }
  #content-wrapper .column {
    width: 100%;
    padding: 10px 0; } }
#portrait {
  float: right;
  margin-top: 30px; }

/*# sourceMappingURL=main.css.map */
