* {
    padding: 0;
    margin: 0;
}

@font-face 
{
    font-family: Futura;
    src: url("Futura LtCn BT Light.ttf");
}

body
{
    background-color: #000000;
    color: #FFFFFF;
    font-family:"Futura", Arial, sans-serif;
}

.left
{
    float:left;
    display: in-line block;
    width: 198px;
}

.padder
{
    margin:0 72px 0 198px;
}

.right
{
    display: in-line block;
    float:left;
    width: 100%;
}

h1
{
    float:left;
    font-size:72px;
    margin:28px 0 0 0;
}

.small-title
{
    clear:left;
    float:left;
    font-size:22px;
    margin:9px 0 25px 30px;
}

a
{
    text-decoration:none;
    color: #FFFFFF;
}

ul 
{
    list-style-type:none;
}


.logo
{
    float:left;
    display:in-line block;
    height: 198px;
    width: 198px;
    margin-bottom:2px;
}

.white-line 
{
    background-color: #FFFFFF;
    height: 1px;
    clear: both; 
    width:100%;
}

.sub-top-menu
{
    margin-left:20px;
}

.top-menu li
{
    font-size: 18px;
    float:left;
    display:in-line block;
    padding: 0px 7px 2px 7px;
}

.selected
{
    background-color:#404040;
}

.sub-side-menu
{
    width: 127px;
    margin:auto;
}

.side-menu  li
{
    width:85px;
    margin: 0 auto;
    text-align:center;
    font-size: 13pt;
    height: 25px;
    display:block;
    clear:both;
    padding: 3px 0 0 1px;
}

.side-bottom
{
    margin: -25px 0 0 0;
}

.text h2
{
    margin: 11px 0 9px 20px;
}

.text p
{
    margin: 0 0 0 33px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align:center;
}

.footer
{
    width:100%;
    height:25px;
    margin-bottom:15px;
    border-bottom:1px solid #FFFFFF;
}

.ref-list li
{
    padding: 5px 0 5px 0;
}

.ref-list
{
    padding-left:40px;
}

.ref-list a
{
    color:#553DDF;
    text-decoration:underline;
}

.ref-list a:visited
{
    color:#9F0AA7;
}